  <% layout('layouts/boilerplate') %> 
  <div class="row">
    <h1 class="text-center">Edit "<%= camp.title %>" </h1>
    <div class="col-6 offset-3">

  <!-- Form -->
    <form action="/campgrounds/<%= camp._id %>/edit?_method=PATCH" method="POST" novalidate class="validated-form">
        <!-- title -->
        <div class="mb-3">
          <label class="form-label" for="title">Title</label>
          <input class="form-control" type="text" name="campground[title]" id="title" value="<%= camp.title %>" required>
          <!-- valid & invalid feedback -->
          <div class="valid-feedback">
            Nice Campground name!
          </div>
          <div class="invalid-feedback">
            Campground title is required!
          </div>
        </div>

        <!-- location -->
        <div class="mb-3">
          <label class="form-label" for="location">Location</label>
          <input class="form-control" type="text" name="campground[location]" id="location" value="<%= camp.location %>" required>
          <!-- invalid feedback -->
          <div class="invalid-feedback">
            Campground location is required!
          </div>
        </div>

        <!-- image -->
        <div class="mb-3">
          <label class="form-label" for="image">Image URL</label>
          <input class="form-control" type="text" name="campground[image]" id="image" value="<%= camp.image %>" required>
          <!-- invalid feedback -->
          <div class="invalid-feedback">
            Image URL is required!
          </div>
        </div>

        <!-- Description -->
        <div class="mb-3">
          <label class="form-label" for="description">Description</label>
          <textarea class="form-control" type="text" name="campground[description]" id="description" required><%= camp.description %></textarea>
          <!-- invalid feedback -->
          <div class="invalid-feedback">
            Campground description is required!
          </div>
        </div>

        <!-- Price -->
        <div class="input-group mb-3">
          <span class="input-group-text">Price$</span>
          <input type="number" min="0" step="any" class="form-control" name="campground[price]" aria-label="Amount (to the nearest dollar)" value="<%= camp.price %>" required>
          <!-- invalid feedback -->
          <div class="invalid-feedback">
            Campground price is required!
          </div>
        </div>

        <!-- Edit campground button -->
          <button class="btn btn-success">Edit Campground</button>
      </form>

      <!-- Back button -->
      <div class="mb-3">
        <form action="/campgrounds/<%= camp._id %>">
          <button class="btn btn-secondary">Back</button>
        </form>
      </div>

    </div> 
  </div> <!-- End of row -->

  <!-- include the js for the validation -->
  <%- include('../partials/formValidator') %> 