<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Campground</title>
</head>
<body>
 <h1><%= camp.title %> </h1> 

 <!-- Form -->
  <form action="/campgrounds/<%= camp._id %>/edit?_method=PATCH" method="POST">
    <!-- title -->
    <div>
      <label for="title">Title</label>
      <input type="text" name="campground[title]" id="title" value="<%= camp.title %> ">
    </div>
  
    <!-- location -->
    <div>
      <label for="location">Location</label>
      <input type="text" name="campground[location]" id="location" value="<%= camp.location %> ">
    </div>
  
    <!-- button -->
    <button>Confirm edit</button>
  </form>

  <!-- Back button to the show page for the campground -->
  <div>
    <form action="/campgrounds/<%= camp._id %> ">
      <button>Cancel</button>
    </form>
  </div>
 
</body>
</html>