  <% layout('layouts/boilerplate') %> 
  <h1>Index Page</h1>
  <!-- list the campgrounds -->
  <ul>
    <% for(camp of campgrounds) { %>
      <div class="card">
        <div class="row">
          <!-- card image -->
          <div class="col-md-4">
            <img src="<%= camp.image %> " alt="" class="img-fluid">
          </div>
          
          <!-- rest to fill -->
          <div class="col-mg-8">
            <div class="card-body">
              <h5 class="card-title"><%= camp.title %> </h5>
              <p class="card-text"><%= camp.description %> </p>
              <p class="card-text">
                <small class="text-muted"><%= camp.location %> </small>
              </p>
              <a href="/campgrounds/<%= camp._id %> " class="btn btn-primary">View <%= camp.title %> </a>
            </div>
          </div>

        </div> <!-- End of row-->
      </div> <!-- End of card-->
    <% } %>

  </ul>